<div ng-controller="DetailsController">
    <table class="table">
        <tr>
            <td>
                Product Name
            </td>
            <td>
                {{product.name}}
            </td>
        </tr>

        <tr>
            <td>
                Description
            </td>
            <td>
                {{product.description}}
            </td>
        </tr>

        <tr>
            <td>
                Price
            </td>
            <td>
                {{product.price}}
            </td>
        </tr>
    </table>
</div>
