<link href="~/Content/product.css"  rel="stylesheet"/>

<div>
    
    <div class="mainContainer">
        <div class="leftContainer" ng-controller="listController">
            <h4>Category</h4>    
                <ul>
                    <li ng-repeat="cat in categories">
                        <a ui-sref="product.dashboard({id:cat.categoryID})">{{cat.name}}</a>
                    </li>
                </ul>
            </div>
        <div class="rightContainer">
            <div ui-view></div> 
        </div>
    </div>

    
</div>
