<div ng-controller="productListController">
    <div class="col-xs-4" ng-repeat="product in products">
        <div class="well">
            <h3 class="productTitle">
                <a ui-sref="product({id:{{product.productID}}})"><label ng-bind="product.name">  </label></a>
            </h3>
            <h4>
                {{product.description}}
            </h4>
            <h5>Price: {{product.price | currency}} </h5>
        </div>
    </div>
</div>