<div class="categoryListController">
    <div class="col-xs-4" ng-repeat="cat in categories">
        <div class="well">
            <h3>{{cat.name}}</h3>
            <h4>
                {{cat.description}}
            </h4>
        </div>
    </div>
</div>
