<div class="jumbotron">
    <h2>
        Online store for sports item. You will find a very easy to use interface. If you find any problem please
        send an email to inquiry@sportssport.com.

        Thank you so much
        Manangement team
    </h2>
</div>
