

<!DOCTYPE html>

<html>
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/angular/angular-route.js"></script>
    <script src="~/Scripts/angular/angular-resource.min.js"></script>

    <style>
        .navbar-right {
            float: right !important;
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
   
    
    
</head>
<body ng-app="myApp">
    <header>
       
    </header>
    <nav class="navbar navbar-full navbar-collapse navbar-default bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Online Sport Store</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"> <a href="/">Home</a></li>
                <li><a href="/product">Product list</a></li>
            </ul>
        </div>
    </nav>

    <div class="panel">
        <div class="col-xs-12 col-sm-12 panel-body ">
            <div ng-view></div>
        </div>
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Sports Online</p>
    </footer>

   
    
    <script src="~/Scripts/StoreApp.js"></script>
    <script src="~/Scripts/StoreRoute.js"></script>
    <script src="~/Scripts/angular/angular-resource.js"></script>
    
    <script src="~/Scripts/services/ProductServices.js"></script>
    <script src="~/Scripts/services/categoryServices.js"></script>
    <script src="~/Scripts/controllers/categoryControllers.js"></script>
    <script src="~/Scripts/controllers/productControllers.js"></script>
    <script src="~/Scripts/HomeControllers.js"></script>

</body>
</html>
